## Python + Pandas Assessment Review

#### We will be working with the following information defined in the cell below.

In [1]:
students = [
    {'exam_score': 67.5743737055, 'hours_studied': 8.4786921255, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 59.0983982874, 'hours_studied': 5.7737531404, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6},
    {'exam_score': 40.2353236205, 'hours_studied': 4.2802273056, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 6,  'hours_slept': 5},
    {'exam_score': 68.5728466901, 'hours_studied': 8.2049689336, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 78.8909132563, 'hours_studied': 8.8873825943, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 99.6285927929, 'hours_studied': 5.8875768158, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 71.5376019923, 'hours_studied': 8.6755289037, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 91.209319196,  'hours_studied': 7.7949349686, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 95.637085652,  'hours_studied': 9.6774379788, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 7.3505796632,  'hours_studied': 1.8010865962, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 10, 'hours_slept': 1},
    {'exam_score': 100.0,         'hours_studied': 9.1262910299, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 0,  'hours_slept': 11},
    {'exam_score': 73.1646225026, 'hours_studied': 5.8875512702, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 1.697188914,   'hours_studied': 0.8023294541, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 10, 'hours_slept': 1},
    {'exam_score': 48.3173646693, 'hours_studied': 3.6138789305, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 6,  'hours_slept': 5},
    {'exam_score': 57.0423484485, 'hours_studied': 5.9414471409, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6},
    {'exam_score': 65.7118765165, 'hours_studied': 4.6605301,    'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 63.934268264,  'hours_studied': 6.4878477492, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 100.0,         'hours_studied': 8.1237310876, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 0,  'hours_slept': 11},
    {'exam_score': 35.7436570401, 'hours_studied': 3.1974628076, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 7,  'hours_slept': 4},
    {'exam_score': 53.2002957528, 'hours_studied': 4.5502066553, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6}
]

# Phase 1: Python *without* Pandas.  Do the following without Pandas.

#### 1. Examine students.
 -  What data type is students? Use Python to verify.
 -  Describe the contents of the variable students.  How do you know this? Do you feel this is a useful data format? Why or Why Not?

In [31]:
from env import my_setup

In [32]:
my_setup()

import os
from pydataset import data
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as m
from env import get_db_url
from env import gdb

In [33]:
import os
from pydataset import data
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as m

from env import gdb

In [2]:
type(students)

list

In [3]:
students.describe()

AttributeError: 'list' object has no attribute 'describe'

In [4]:
students[0]

{'exam_score': 67.5743737055,
 'hours_studied': 8.4786921255,
 'used_flashcards': True,
 'handedness': 'left',
 'coffee_consumed': 4,
 'hours_slept': 7}

In [5]:
type(students[0])

dict

In [6]:
students[0]['exam_score']

67.5743737055

In [7]:
passers = [i for i in students if i['exam_score']>=70]
passers

[{'exam_score': 78.8909132563,
  'hours_studied': 8.8873825943,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 3,
  'hours_slept': 8},
 {'exam_score': 99.6285927929,
  'hours_studied': 5.8875768158,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 1,
  'hours_slept': 10},
 {'exam_score': 71.5376019923,
  'hours_studied': 8.6755289037,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 3,
  'hours_slept': 8},
 {'exam_score': 91.209319196,
  'hours_studied': 7.7949349686,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 1,
  'hours_slept': 10},
 {'exam_score': 95.637085652,
  'hours_studied': 9.6774379788,
  'used_flashcards': False,
  'handedness': 'left',
  'coffee_consumed': 1,
  'hours_slept': 10},
 {'exam_score': 100.0,
  'hours_studied': 9.1262910299,
  'used_flashcards': False,
  'handedness': 'left',
  'coffee_consumed': 0,
  'hours_slept': 11},
 {'exam_score': 73.1646225026,
  'hours_studied': 5.8875512702,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 3,
  'hours_slept': 8},
 {'exam_score': 100.0,
  'hours_studied': 8.1237310876,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 0,
  'hours_slept': 11}]

In [8]:
failers = [i for i in students if i['exam_score'] < 70]
failers

[{'exam_score': 67.5743737055,
  'hours_studied': 8.4786921255,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 4,
  'hours_slept': 7},
 {'exam_score': 59.0983982874,
  'hours_studied': 5.7737531404,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 5,
  'hours_slept': 6},
 {'exam_score': 40.2353236205,
  'hours_studied': 4.2802273056,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 6,
  'hours_slept': 5},
 {'exam_score': 68.5728466901,
  'hours_studied': 8.2049689336,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 4,
  'hours_slept': 7},
 {'exam_score': 7.3505796632,
  'hours_studied': 1.8010865962,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 10,
  'hours_slept': 1},
 {'exam_score': 1.697188914,
  'hours_studied': 0.8023294541,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 10,
  'hours_slept': 1},
 {'exam_score': 48.3173646693,
  'hours_studied': 3.6138789305,
  'used_flashcards': False,
  'handedness': 'left',
  'coffee_consumed': 6,
  'hours_slept': 5},
 {'exam_score': 57.0423484485,
  'hours_studied': 5.9414471409,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 5,
  'hours_slept': 6},
 {'exam_score': 65.7118765165,
  'hours_studied': 4.6605301,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 4,
  'hours_slept': 7},
 {'exam_score': 63.934268264,
  'hours_studied': 6.4878477492,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 4,
  'hours_slept': 7},
 {'exam_score': 35.7436570401,
  'hours_studied': 3.1974628076,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 7,
  'hours_slept': 4},
 {'exam_score': 53.2002957528,
  'hours_studied': 4.5502066553,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 5,
  'hours_slept': 6}]

In [ ]:
# Write your response here:
'''

'''

-  Write a function called `get_max_hours_studied` that takes in a list of dictionaries like students and returns the value of the maximum hours studied within the data set

In [9]:
# write your function in this cell.
def get_max_hours_studied(a):
    '''
    takes in a list of dictionaries...
    if      the dictionaries in that list 
    have    a key that equals 'hours_studied'
    and     the `hours_studied` is longer than the previous holder of the hrs trophy
            (held by hrs var which is preset to zero)
    then    the hrs trophy is passed to the next longest hours_studied
    
    at the end of the day 
            the longest number of hours_studied is returned
    
    '''
    hrs = 0
    for i in a:
        if i['hours_studied'] > hrs:
            hrs = i['hours_studied']
    hrs = round(hrs, 2)
    return hrs

In [10]:
get_max_hours_studied(students)

9.68

In [11]:
assert(round(get_max_hours_studied(students), 2) == 9.68)

#### Observe the variable student_names defined below.
 - Write a loop that will traverse students and add a key called 'student_name' to the record, populated with each of the values inside of student names by index order.

In [12]:
student_names = [
    'Jill', 
    'Mindy',
    'Kathy', 
    'Hussain', 
    'Priya', 
    'Jasmine', 
    'Abdul', 
    'Ren',
    'Lupita',
    'Patch',
    'Marwan',
    'Stacy',
    'Sylvia',
    'Bo',
    'Vivian',
    'Connor',
    'Hank',
    'Rocko',
    'Filbert',
    'Upton'
]

In [14]:
# Write your loop here:
# students = []
# for i in student_names:
#     students += {'student_name', i}
index = 0    
for i in students:
    i['student_name'] = student_names[index]
    index += 1

In [16]:
students

[{'exam_score': 67.5743737055,
  'hours_studied': 8.4786921255,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 4,
  'hours_slept': 7,
  'student_name': 'Jill'},
 {'exam_score': 59.0983982874,
  'hours_studied': 5.7737531404,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 5,
  'hours_slept': 6,
  'student_name': 'Mindy'},
 {'exam_score': 40.2353236205,
  'hours_studied': 4.2802273056,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 6,
  'hours_slept': 5,
  'student_name': 'Kathy'},
 {'exam_score': 68.5728466901,
  'hours_studied': 8.2049689336,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 4,
  'hours_slept': 7,
  'student_name': 'Hussain'},
 {'exam_score': 78.8909132563,
  'hours_studied': 8.8873825943,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 3,
  'hours_slept': 8,
  'student_name': 'Priya'},
 {'exam_score': 99.6285927929,
  'hours_studied': 5.8875768158,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 1,
  'hours_slept': 10,
  'student_name': 'Jasmine'},
 {'exam_score': 71.5376019923,
  'hours_studied': 8.6755289037,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 3,
  'hours_slept': 8,
  'student_name': 'Abdul'},
 {'exam_score': 91.209319196,
  'hours_studied': 7.7949349686,
  'used_flashcards': True,
  'handedness': 'left',
  'coffee_consumed': 1,
  'hours_slept': 10,
  'student_name': 'Ren'},
 {'exam_score': 95.637085652,
  'hours_studied': 9.6774379788,
  'used_flashcards': False,
  'handedness': 'left',
  'coffee_consumed': 1,
  'hours_slept': 10,
  'student_name': 'Lupita'},
 {'exam_score': 7.3505796632,
  'hours_studied': 1.8010865962,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 10,
  'hours_slept': 1,
  'student_name': 'Patch'},
 {'exam_score': 100.0,
  'hours_studied': 9.1262910299,
  'used_flashcards': False,
  'handedness': 'left',
  'coffee_consumed': 0,
  'hours_slept': 11,
  'student_name': 'Marwan'},
 {'exam_score': 73.1646225026,
  'hours_studied': 5.8875512702,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 3,
  'hours_slept': 8,
  'student_name': 'Stacy'},
 {'exam_score': 1.697188914,
  'hours_studied': 0.8023294541,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 10,
  'hours_slept': 1,
  'student_name': 'Sylvia'},
 {'exam_score': 48.3173646693,
  'hours_studied': 3.6138789305,
  'used_flashcards': False,
  'handedness': 'left',
  'coffee_consumed': 6,
  'hours_slept': 5,
  'student_name': 'Bo'},
 {'exam_score': 57.0423484485,
  'hours_studied': 5.9414471409,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 5,
  'hours_slept': 6,
  'student_name': 'Vivian'},
 {'exam_score': 65.7118765165,
  'hours_studied': 4.6605301,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 4,
  'hours_slept': 7,
  'student_name': 'Connor'},
 {'exam_score': 63.934268264,
  'hours_studied': 6.4878477492,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 4,
  'hours_slept': 7,
  'student_name': 'Hank'},
 {'exam_score': 100.0,
  'hours_studied': 8.1237310876,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 0,
  'hours_slept': 11,
  'student_name': 'Rocko'},
 {'exam_score': 35.7436570401,
  'hours_studied': 3.1974628076,
  'used_flashcards': False,
  'handedness': 'right',
  'coffee_consumed': 7,
  'hours_slept': 4,
  'student_name': 'Filbert'},
 {'exam_score': 53.2002957528,
  'hours_studied': 4.5502066553,
  'used_flashcards': True,
  'handedness': 'right',
  'coffee_consumed': 5,
  'hours_slept': 6,
  'student_name': 'Upton'}]

In [15]:
assert([student['student_name'] for student in students] == student_names)

 - Write a function called `well_read` that will take in a list of dictionaries as an argument and return the name of the student who has studied the most.

In [17]:
# write your function in this cell:
def well_read(list_o_dics):
    most_read = 0
    the_one = 0
    for i in students:
        if i['hours_studied'] > most_read:
            most_read = i['hours_studied']
            the_one = i['student_name']
    return the_one

In [ ]:
# Extra fancy bonus:
# re-write well_read as a one-liner using list comprehension

In [18]:
assert(well_read(students) == 'Lupita')

 - What proportion of students that passed used flashcards? Store it as a percentage with one decimal place in a variable called `flash_success`

In [28]:
# assign flash_success in this cell.
passed = 0
flash = 0
for i in students:
    if i['exam_score'] > 69:
        passed += 1
        if i['used_flashcards']:
            flash += 1
flash_success = round(flash/passed* 100, 2)
flash_success

50.0

In [29]:
assert(flash_success == 50.00)

#### Alright, time to break out pandas! üêº

 - Create a dataframe called `student_df` from the students variable that you have at this point.

In [34]:
# create your DataFrame here.
student_df = pd.DataFrame(students)

 - Make a new column inside of `student_df` called `'classroom'` using the following code.  Keep your numpy random seed to 123.

In [35]:
np.random.seed(123)
classrooms = np.random.choice(['A', 'B'], len(student_df))

In [36]:
classrooms

array(['A', 'B', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'A', 'B', 'B', 'A',
       'B', 'A', 'B', 'A', 'B', 'B', 'A'], dtype='<U1')

In [41]:
# put the value of classrooms into your new column in this cell.
student_df['classroom'] = classrooms

In [42]:
assert(list(student_df.classroom.values) == list(classrooms))

 - Create a single groupby aggregation that will output the maximum and minimum exam scores and hours slept for every combination of classroom and handedness.

In [56]:
# write your aggregation in this cell:
student_df.groupby(['classroom','handedness'])[['exam_score', 'hours_slept']].agg(['max','min'])

                      exam_score            hours_slept
                             max        min         max min
classroom handedness
A         left         99.628593  40.235324          10   5
          right        78.890913   1.697189           8   1
B         left        100.000000  48.317365          11   5
          right       100.000000  35.743657          11   4

In [55]:
student_df.groupby(['classroom', 'handedness']).agg({'exam_score': ['min', 'max'], 'hours_slept': ['min', 'max']})

                     exam_score             hours_slept
                            min         max         min max
classroom handedness
A         left        40.235324   99.628593           5  10
          right        1.697189   78.890913           1   8
B         left        48.317365  100.000000           5  11
          right       35.743657  100.000000           4  11

 - Write a function called `best_rested_performer` that takes in a DataFrame and returns the name of the student in student_df that has the highest grade, that slept the most.
 
(hint: sort by exam score, then by hours slept, and make sure your function returns a string literal!)

In [65]:
# write your function in this cell:
# def best_rated_performer(df):
    
student_df.groupby(['student_name'])[['exam_score', 'hours_slept']].agg(['max'])

              exam_score hours_slept
                     max         max
student_name
Abdul          71.537602           8
Bo             48.317365           5
Connor         65.711877           7
Filbert        35.743657           4
Hank           63.934268           7
Hussain        68.572847           7
Jasmine        99.628593          10
Jill           67.574374           7
Kathy          40.235324           5
Lupita         95.637086          10
Marwan        100.000000          11
Mindy          59.098398           6
Patch           7.350580           1
Priya          78.890913           8
Ren            91.209319          10
Rocko         100.000000          11
Stacy          73.164623           8
Sylvia          1.697189           1
Upton          53.200296           6
Vivian         57.042348           6

In [ ]:
assert(best_rested_performer(student_df)) == 'Marwan'

 - Utilize the following dictionary to create a new column called `'room_no'` that tells a student where they should be going.

In [ ]:
classroom_location = {
    'A': 'Humanities Building, Room 204',
    'B': 'Business Building, Room 318',
    'C': 'Humanities Building, Room 113'
}

 - Write a function called `sleepy_goat_ratio` that takes in a DataFrame as an argument, that returns a one-decimal percentage value of the proportion of students that slept at least eight hours and passed the exam out of the entire class. Consider a grade of 70 as passing.

In [ ]:
# write your function in this cell:

In [ ]:
assert(sleepy_goat_ratio(student_df) == 40.0)